<div class='container'>
	<div class='row'>
		<h1 class='text-center'>{{location}}</h1>
	</div>
	<div class='row'>
		<table class='table'>
			<thead>
				<tr>
					<th>Day</th>
					<th>High/Low</th>
					<th>Summary</th>
					<th>Rain %</th>
					<th>Humidity</th>
					<th>Sunrise/Sunset</th>
				</tr>
			</thead>
			<tbody>
				{{#each days}}
					<tr>
						<th>{{day}}</th>
						<th>{{high}}&deg;/{{low}}&deg;</th>
						<th>{{summary}}</th>
						<th>{{rain}}%</th>
						<th>{{humidity}}%</th>
						<th>{{rise}}/{{set}}</th>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>