<div class='container'>
	<div class='row'>
		<h1 class='text-center'>{{location}}</h1>
	</div>
	<div class='row'>
		<table class='table'>
			<thead>
				<tr>
					<th>Time</th>
					<th>Temperature/Feel like</th>
					<th>Summary</th>
					<th>Rain %</th>
					<th>Humidity</th>
				</tr>
			</thead>
			<tbody>
				{{#each hour}}
					<tr>
						<th>{{time}}</th>
						<th>{{temp}}&deg;</th>
						<th>{{summary}}</th>
						<th>{{rain}}%</th>
						<th>{{humidity}}%</th>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>

