<div class='container'>
	<div class='row'>
		<h1 class='text-center'>{{location}}</h1>
	</div>
	<div class='row'>
		<table class='table'>
			<thead>
				<tr>
					<th>Date</th>
					<th>High/Low</th>
					<th>Feel like High/Low</th>
					<th>Summary</th>
					<th>Wind Speed</th>
					<th>Humidity</th>
				</tr>
			</thead>
			<tbody>
				{{#each years}}
					<tr>
						<th>{{date}}</th>
						<th>{{high}}&deg;/{{low}}&deg;</th>
						<th>{{fhigh}}&deg;/{{flow}}&deg;</th>
						<th>{{summary}}</th>
						<th>{{wind}} mph</th>
						<th>{{humidity}}%</th>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>